---
title: "We are Arctech"
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/splash/above-the-clouds.jpg
excerpt: "The modern workplace doesn't build itself - Arctech can help your business get <b><em>above the clouds.</em></b>"
intro:
  - excerpt: 'Our Services'
feature_row:
  - image_path: /assets/images/splash/server-administration.jpg
    title: "Server Administration"
    excerpt: "Outdated servers? We offer help with server administration, including setting up and maintaining servers."
  - image_path: /assets/images/splash/modern-work.jpg
    title: "Modern Workplace"
    excerpt: "A modern workplace means working from anywhere, anytime. We specialize in Intune, AVD and Microsoft 365 and can make you be prepared for the future, today."
  - image_path: /assets/images/splash/above-the-clouds.jpg
    title: "Cloud Services"
    excerpt: "Still staying grounded? Arctech can help you get above the clouds by onboarding your organization in Azure and Private Clouds"
---

<h1>{% include feature_row id="intro" type="center" %}</h1>
{% include feature_row %}